*{
box-sizing: border-box;
}
body{
    margin: 0;
}
header{
    background-color:gray;
    text-align:center;
    padding:10px;
}
.navbar{
    background-color: rgb(10, 9, 9);
    height: 50px;
}
aside{
    width:20%;
    float: left;
    padding: 10px;
}
section{
    width:40%;
    float: left;
    padding: 10px;
}
article{
    width:40%;
    float: left;
    padding: 10px;
}
footer{
    display: block;
    clear: both;
    background-color:gray;
    text-align:center;
    padding:10px;
}
@media screen and (max-width:600px) {
  aside,section,article{ width:100%;}  
}